{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-5">
  <div class="col mb-5 d-flex align-items-center justify-content-center gap-3 grow">
      <button type="button" class="btn btn-success">Blitz (5 Minutes)</button>
      <button type="button" class="btn btn-success">Blitz (10 Minutes)</button>
      <button type="button" class="btn btn-success">Rapid (15 Minutes)</button>
      <button type="button" class="btn btn-success">Rapid (30 Minutes)</button>
  </div>
  <div class="row mb-4">
    <div class="col-md-8">
      <h1 class="display-4">Player Leaderboards</h1>
      <p class="lead">Rankings of the current top chess players in the world!</p>
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <div class="alert alert-info w-100 mb-0">
        <strong>Total Players:</strong> {{ num_of_players }}
      </div>
    </div>
  </div>
  <h2 class="display-8">Blitz (5 minutes)</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Username</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for item in players_blitz_5 %}
        <tr>
          <td>
            <span class="badge bg-primary">{{ forloop.counter }}</span>
          </td>
          <td><a href="{{ item.player.get_absolute_url }}">{{ item.player.username }}</a></td>
          <td>
            <span class="badge bg-success fs-6">{{ item.elo}}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2 class="display-8">Blitz (10 minutes)</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Username</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for item in players_blitz_10 %}
        <tr>
          <td>
            <span class="badge bg-primary">{{ forloop.counter }}</span>
          </td>
          <td><a href="{{ item.player.get_absolute_url }}">{{ item.player.username }}</a></td>
          <td>
            <span class="badge bg-success fs-6">{{ item.elo }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2 class="display-8">Rapid (15 minutes)</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Username</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for item in players_rapid_15 %}
        <tr>
          <td>
            <span class="badge bg-primary">{{ forloop.counter }}</span>
          </td>
          <td><a href="{{ item.player.get_absolute_url }}">{{ item.player.username }}</a></td>
          <td>
            <span class="badge bg-success fs-6">{{ item.elo }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2 class="display-8">Rapid (30 minutes)</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Username</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for item in players_rapid_30 %}
        <tr>
          <td>
            <span class="badge bg-primary">{{ forloop.counter }}</span>
          </td>
          <td><a href="{{ item.player.get_absolute_url }}">{{ item.player.username }}</a></td>
          <td>
            <span class="badge bg-success fs-6">{{ item.elo }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}